@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-[4/5] h-[4rem] rounded-lg border-none bg-gray-200 pl-8 text-base;
}

.auth-button {
    @apply bg-[#ffca40] rounded-lg h-[4rem] font-bold text-xl w-[3/4];
}

#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy-Bold', 'Gill Sans', 'Gill Sans MT', Calibri,
        'Trebuchet MS', sans-serif;
    color: #2a3238;
    font-weight: 500;
}

.foods-grid {
    display: grid;
    gap: 24px 4px;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 16.5rem));
}

.ingredients-grid {
    display: grid;
    gap: 24px 4px;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 16.5rem));
}
